###########################################
################## pastas:#################
###########################################
##### IGNORAR
*.pdf
delete/
site_libs/
**/.gitignore

##### NÃO IGNORAR
# !fluxograma.pdf
!/.gitignore

###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/*
renv/.gitignore
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

##### NÃO IGNORAR
!**/renv/activate.R
!**/renv/settings.json
!.Rprofile
!renv.lock