###########################################
################## QUARTO #################
###########################################
##### IGNORAR
.quarto
delete/
*libs*/
*index*html/
**/.gitignore

##### NÃO IGNORAR
!book/
!book/**

###########################################
################# ARQUIVOS ################
###########################################
##### IGNORAR
.secrets
.env
*.pdf

##### NÃO IGNORAR
!fluxograma.pdf
!/.gitignore

###########################################
#################### R ####################
###########################################
##### IGNORAR


##### NÃO IGNORAR



mock/**
